# Força uso de LF (Unix-style) para arquivos de texto
*.sh text eol=lf
*.md text eol=lf
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.conf text eol=lf
Dockerfile text eol=lf
* text=auto
